{% load static %}
<div class="container">
<div class="row d-none d-lg-flex cdc-viewports">
<div class="col-md-12">
	<p>
		Regular physical activity is one of the most important things people can do to improve their health. Moving more and sitting less have tremendous benefits for everyone, regardless of age, sex, race, ethnicity, or current fitness level. The second edition of the 
		<a href="https://www.gov.uk/government/collections/physical-activity-guidelines" target="_blank" rel="noopener noreferrer" class="tp-link-policy" data-domain-ext="gov"><em>Physical activity guidelines: UK Chief Medical Officers' report
		</em><span aria-label="external icon" class="sr-only" role="img"></span><span class="fi cdc-icon-external x16 fill-external" alt="" aria-hidden="true"></span></a> provides science-based guidance to help people ages 3 years and older improve their health through participation in regular physical activity.
	</p>
</div>
</div>
<div class="row mt-3 ">
<div class="col-md-12">
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Pre-schoolers (3-4 years)</h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3"><img src="{% static 'img/3-5.jpeg' %}" alt="Pre-schoolers (3-4 years)" class="card-img-top card-img-bottom img-fluid p-3 bg-white"></div>
				<div class="col">
					<p>Physical Activity <strong>every day throughout the day</strong>.</p>
					<p><strong>Active play</strong> through a <strong>variety</strong> of enjoyable physical activities.</p>
					<!-- <div class="text-right"><a href="/physicalactivity/basics/children/index.htm" class="mt-2 btn specialLinkIconLeft btn-amber-p b-amber-p">Learn More</a></div> -->
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Children and Young People (5 to 18 years) </h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3"><img src="{% static 'img/6-17.jpeg' %}" alt="Children and Young People (5 to 18 years) " class="card-img-top card-img-bottom img-fluid p-3 bg-white"></div>
				<div class="col">
					<p><strong>60 mins (1 hour)</strong> or more of moderate-to-vigorous intensity physical activity daily.</p>
					<p><strong>A variety</strong> of enjoyable physical activities.</p>
					<p>As part of the 60 minutes, on at least 3 days a week, children and adolescents need:</p>
					<ul>
						<li><strong>Vigorous Activity</strong> such as running or soccer.</li>
						<li>Activity that <strong>strengthens muscles</strong> such as climbing or push ups.</li>
						<li>Activity that <strong>strengthens bones</strong> such as gymnastics or jumping rope.</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Adults (19-64 years)</h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3"><img src="{% static 'img/18-64.jpeg' %}" alt="Adults (19-64 years)" class="card-img-top card-img-bottom img-fluid p-3 bg-white"></div>
				<div class="col">
					<p>At least&nbsp;<strong>150 minutes a week</strong>&nbsp;of moderate intensity activity such as&nbsp;<strong>brisk walking</strong>.</p>
					<p>At least&nbsp;<strong>2 days a week</strong>&nbsp;of activities that&nbsp;<strong>strengthen muscles</strong>.</p>
					<p>&nbsp;</p>
					<p class="fs0875"><em>Aim for the recommended activity level but be as active as you are able.</em></p>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Older Adults (65 years and over)</h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3"><img src="{% static 'img/65.jpeg' %}" alt="Older Adults (65 years and over)" class="card-img-top card-img-bottom img-fluid p-3 bg-white"></div>
				<div class="col">
					<p>At least <strong>150 minutes a week</strong> of moderate intensity activity such as <strong>brisk walking</strong>.</p>
					<p>At least <strong>2 days a week</strong> of activities that <strong>strengthen muscles</strong>.</p>
					<p>Activities to <strong>improve balance</strong> such as standing on one foot.</p>
					<p>&nbsp;</p>
					<p class="fs0875"><em>Aim for the recommended activity level but be as active as one is able.</em></p>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Adults with Chronic Conditions and Disabilities</h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3"><img src="{% static 'img/disabilities.jpeg' %}" alt="Adults with Chronic Conditions and Disabilities" class="card-img-top card-img-bottom img-fluid p-3 bg-white"></div>
				<div class="col">
					<p>Get at least <strong>150 minutes</strong> (for example, 30 minutes 5 days a week) <strong>of moderate-intensity aerobic physical activity a week</strong>.</p>
					<p>And</p>
					<p>Get at least <strong>2 days a week of muscle- strengthening activities</strong> that include all major muscle groups.</p>
					<p class="fs0875"><em>If you are unable to meet the recommendations, be as active as you can and try to avoid inactivity.</em></p>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block cdc-viewports">
		<div class="card bl-5 bl-amber-p mb-3">
			<h2 class="card-header h4 bg-white">Pregnant and Postpartum Women</h2>
			<div class="card-body bg-white">
			<div class="row ">
				<div class="pr-md-0 col-md-3">
					<div class="text-center"><img src="{% static 'img/women.jpeg' %}" alt="Pregnant and Postpartum Women" class="card-img-top card-img-bottom img-fluid p-3 bg-white card-img-orig"></div>
				</div>
				<div class="col">
					<p>Get at least <strong>150 minutes</strong> (for example, 30 minutes 5 days a week) <strong>of moderate intensity aerobic activity a week such as brisk walking </strong>during pregnancy and the postpartum period.</p>
					<p class="fs0875"><em>Remember, some physical activity is better than none, so do what you can.</em></p>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>